# 1 - Introduction


=================================================

Nama : Dicky Gabriel Partogi Sarumpaet

Deskripsi Tugas: Melakukan web scraping dan data analisa pada produk seblak di tokopedia.

=================================================

# 2 - Import Library

In [31]:
from google_play_scraper import app, Sort, reviews_all,reviews
import pandas as pd
import numpy as np
import json, os, uuid

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from scipy import stats
import numpy as np
import seaborn as sbs
import requests
import time

# 3 - Web Scraping

In [46]:
result, continuation_token = reviews(
    'com.tokopedia.tkpd',
    lang='en', # defaults to 'en'
    country='us', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.NEWEST
    count=1000, # defaults to 100
)

In [49]:
df = pd.DataFrame(np.array(result).tolist())

In [50]:
df_copy = df.copy()

In [51]:
df.drop(columns={'reviewId','userImage', 'reviewCreatedVersion',"thumbsUpCount","replyContent","repliedAt"},inplace = True)
df.rename(columns= {'score': 'rating', 'content': 'review_description', 'at': 'review_date'},inplace = True)

In [53]:
df

,userName,review_description,rating,review_date,appVersion
0,Faradilla Putri,informasi tentang kurir yang mengantar paket t...,2,2024-02-16 13:28:16,None
1,Henry Wijaya,Ribet ngurus komplain. Penyelesaian masalah ti...,1,2024-02-16 13:20:30,3.252
2,Longlife Teaching,Tolong perbaiki glitch-nya. Mau dipake,2,2024-02-16 11:54:56,3.232
3,risna habibi,Kecamatan pengiriman nya sangat lambat,1,2024-02-16 11:45:50,3.252
4,Tjauw njuk lin Lin,Error,1,2024-02-16 11:44:12,None
...,...,...,...,...,...
995,Florence Angel,"Cuma 1 kata yg pantas ""PENIPU"" buat cs tokped....",1,2023-12-28 19:51:46,3.247.1
996,Rian Saputra,Harga barang jauh lebih mahal dari toko lain +...,1,2023-12-28 19:26:37,3.242
997,Aniq Zack,Are kore yasui Kara kattoke Ima dake wa chansu...,5,2023-12-28 17:46:06,3.247.1
998,nesha Yurii kirana,üòµ‚Äçüí´üòµ‚Äçüí´üòµ‚Äçüí´,5,2023-12-28 17:41:57,None
999,Wahyu Zidan Saputra,Untuk kurir rekomendasi harusnya sebesar Tokop...,2,2023-12-28 15:56:26,3.247.1

In [54]:
df["rating"].value_counts()

rating
1    528
5    290
2     91
3     52
4     39
Name: count, dtype: int64